In [1]:
import pandas as pd
import boto3
from data_patterns import PatternMatch as pm
from parse_metrics import SearchEngine as se

In [2]:
metrics_df = se('s3://r2d6/data.tsv')

In [3]:
metrics_df.get_domain().get_revenue().get_keywords()

In [5]:
sample = metrics_df.data[['Search Engine Domain', 'Search Keyword', 'Revenue']]\
            .groupby(['Search Engine Domain', 'Search Keyword']).sum('Revenue')\
            .reset_index().sort_values(by=['Revenue'], ascending=False)

In [6]:
sample = sample[sample['Search Engine Domain'] != 'esshopzilla']

In [7]:
sample

  Search Engine Domain Search Keyword  Revenue
0                 bing           zune        0
2               google           ipod        0
3                yahoo                       0

In [8]:
metrics_df.write_to_s3(sample, 's3://r2d6/sample.tab')

{'paths': ['s3://r2d6/sample.tab'], 'partitions_values': {}}

In [11]:
def parse_product(value):
    if value:
        return str(value).split(",")
    else:
        return []

In [12]:
metrics_df['product_list'].apply(lambda x: parse_product(x))

0                                        [nan]
1               [Electronics;Zune - 328GB;1;;]
2                                        [nan]
3                                        [nan]
4                                        [nan]
5                                        [nan]
6          [Electronics;Ipod - Nano - 8GB;1;;]
7          [Electronics;Ipod - Nano - 8GB;1;;]
8                                        [nan]
9                                        [nan]
10                                       [nan]
11                                       [nan]
12                                       [nan]
13       [Electronics;Ipod - Touch - 32GB;1;;]
14            [Electronics;Zune - 32GB;1;250;]
15                                       [nan]
16                                       [nan]
17      [Electronics;Ipod - Nano - 8GB;1;190;]
18                                       [nan]
19                                       [nan]
20    [Electronics;Ipod - Touch - 32GB;1;290;]
Name: product_list, dtype: object